<p></p>
<a class='button' href='/'>Home</a>
<h2>Reset <%= @user.name %>'s password</h2>

<%= form_tag 'password_reset', method: :post do %>
  <p> Password must be 8 or more characters in length </p>
  <label for='password'>New Password</label>
  <input type='text' name='password'>
  <br>

  <label for='password_confirmation'>Confirm New Password</label>
  <input type='text' name='password_confirmation'>
  <br>

  <%= hidden_field_tag :user_id, @user.id %>

  <%= submit_tag 'Go' %>
<% end %>
